.DeclarationOfIndependence h2 {
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.DeclarationOfIndependence strong {
  font-size: 2em;
}

.DeclarationOfIndependence .col-2 {
  width: 16.666%;
  float: left;
}

.DeclarationOfIndependence li {
  list-style-type: none;

}
